* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4.8fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
  background-color: #592e83;
  z-index: 2;
  grid-area: sidebar;
  padding: 25px;
  display: grid;
  grid-template-rows: 0.5fr 4fr 2fr 4fr;
  gap: 32px;
}

.nav-cluster {
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
}

.nav {
  font-size: 1.3rem;
  color: white;
}

#title {
  font-size: 1.5rem;
}

.header {
  background-color: white;
  z-index: 1;
  box-shadow: 0px 3px 5px 0px rgba(120, 120, 120, 0.6);
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.main-content {
  background-color: lightgrey;
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "projects announcements"
  "projects trending";
  gap: 20px;
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}